body {
    background-color: #000000;
    color: #ffffff;
    border: 5px;
    border: 5px solid #fc52a7;
    padding: 20px;
    border-radius: 10px;
    background-color: #000000;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff007f;
    @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
}
img{
    width: 35%;
}
font-family: "Sevillana", cursive;
